:root {
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(184, 227, 255);
  align-items: center;
  justify-content: center;

  perspective: 500px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  display: flex;
  flex-wrap: wrap;

  transform-style: preserve-3d;
  width: 480px;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  height: 100px;
  width: 100px;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: transform 0.4s linear;
}

.card.show {
  transform: rotateY(0);
}

.card .back {
  transform: rotateY(-180deg);
}
.card .front,
.card .back {
  background-color: #fff;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
}

i {
  font-size: 35px;
}
